@import url('https://fonts.googleapis.com/css?family=Quicksand');

/* ----- CSS ----- */

body {
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand';
}

h2 {
    margin: 4rem auto;
    font-size: 2.4rem;
}

h4 {
    margin: 2rem auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 26rem;
    height: 18rem;
    background-color: #11a084;
    color: white;
    margin: 0.2rem auto;
    padding: 2rem;
    border: none;
    border-radius: 1rem;
}

p {
    margin-left: 3rem;
}

input {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 2rem; 
    width: 20rem;
    height: 2.2rem;
    margin-left: 3rem;
}

input[type='submit'] {
    display: flex;
    justify-content: space-around;
    border: none;
    border-radius: 2rem;
    //padding-left: 8.4rem;
    margin-top: 2.6rem;
    margin-bottom: 1.8rem;
    background-color: white;
    text-transform: uppercase;
 }
